SECRET_KEY=o2@@z-4q5tz36v#u71hp7%up^f3q#y1qoi+#&$t_w#sa!&xtc5
DEBUG=True
DATABASE_URL=postgresql://postgres.ipwrwyhzdgxdazdtdxgi:haidar01857418931@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
CLOUDINARY_CLOUD_NAME=ddiouxm0f
CLOUDINARY_API_KEY=429844293438516
CLOUDINARY_API_SECRET=Kv5yslcHjhTzcv7BuG1jonvwghQ
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000